<div class="comment-<%= comment.id %> container"
    style="border: 1px solid black; padding: 1em; margin: 1em;">
  <h2> <span style="color:blue"> User: </span> 
     <%= link_to comment.user.name, user_path(comment.user.id) %>
   </h2>
   <br />
  <span>Posted <%= time_ago_in_words(comment.created_at) %></span>
  <% if current_user == comment.user %>
    <div class="button-group float-end">
      <%= button_to "Delete", post_comment_path(post, comment), class:"btn btn-danger", method: :delete %>
    </div>
  <% end %>
  <hr />
  <%= comment.comment %>
</div>
