<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <h3 class="nav-item">
      <%= link_to 'Bhutanese IMDB', root_path, class: "nav-link" %>
    </h3>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav me-auto mb-2 mb-lg-0">
        <h4 class="nav-item">
          <%= link_to 'Home', root_path, class: "nav-link" %>
        </h4>
        <h4 class="nav-item">
          <%= link_to 'Movies', posts_path, class: "nav-link" %>
        </h4>
        <h4 class="nav-item">
          <%= link_to 'Short Films', posts_path, class: "nav-link" %>
        </h4>
        <h4 class="nav-item">
          <%= link_to 'Music Videos', posts_path, class: "nav-link" %>
        </h4>
        <h4 class="nav-item">
        </h4>
        <h4 class="nav-item">
        </h4>
        <h4 class="nav-item"></h4>
      </div>

      <% if signed_in? %>
        <%= link_to 'Sign Out',
                    sign_out_path,
                    method: :delete,
                    class: "btn btn-primary btn-lg",
                    data: { confirm: t('notice.logout.confirmation') } %>
      <% else %>
        <%= link_to 'Sign Up', sign_up_path, class: "btn btn-primary btn-lg" %>
        <%= link_to 'Sign In', sign_in_path, class: "btn btn-success btn-lg" %>
      <% end %>
    </div>
  </div>
</nav>
