<div class="container my-4">
  <div class="card">
    <div class="card-body">
      <h1>List of Users:</h1>
      <%# <div class="button">
        <%= link_to('ADD User',  new_admin_user_path, class: "btn btn-success float-end btn-lg", method: :post) %>
      <%# </div> %>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td><%= user.role %></td>
              <td>
                    <%= link_to 'Show',
                                admin_user_path(user),
                                class: "btn btn-primary btn-sm" %>

                    <%= link_to 'Update',
                                edit_admin_user_path(user),
                                class: "btn btn-secondary btn-sm" %>

                    <%= button_to 'Delete',
                                admin_user_path(user),
                                class: "btn btn-danger btn-sm",
                                method: :delete,
                                data: { confirm: 'Are you sure?'} %>
              </td>
            </tr>
          <% end %>
        </tbody>
    </div>
  </div>
  <br/>
</div>
