<div class="container my-4">
  <div class="card">
    <div class="card-body">
      <h1 class="view-h1"></h1>
      <%= link_to 'User List ', admin_users_path, class: "btn btn-primary" %>
       <table class="table table-hover">
       <h1> Movie List </h1>
          <thead>
            <tr>
              <th scope="col">Poster</th>
              <th scope="col">Name</th>
              <th scope="col">Reports</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
        <tbody>
        <%  if @posts.present? %>
          <% @posts.all.each do |post| %>
            <tr>
              <td>
                <div class="posts-index-img d-inline">
                  <% if post.poster.attached? %>
                    <%= image_tag(post.poster, class: "index-img") %>
                  <% else %>
                    <%= image_tag('default_book_avatar.jpeg', class: "index-img") %>
                  <% end %>
                </div>
              </td>
              <td><%= post.name %></td>
              <td>
                <% if post.post_reports.present? %>
                  <%= button_to 'Reports', post_post_reports_path(post), method: :get %>
                <% else %>
                  None
                <% end %>
              </td>
              <td>
                <%= button_to 'Show', post_path(post), method: :get %>
                <%= button_to 'Delete',  post_path(post), method: :delete %>
              </td>
          <% end %>
        <% end %>
            </tr>
         </tbody>
      </table>
      <br/>
    </div>
  </div>
</div>
