<div class="container my-5">
  <div class="card">
    <div class="card-body ">
     <h1 ><%= @post.name %></h1>
      <% if @post.trailer.attached? %>
        <%= video_tag(url_for(@post.trailer), style: 'width: 80%', controls: true) %>
      <% end %>
       <p class="text-warning">Rating <%= @post.score%>/5.0
         <%= render 'post_ratings/form', post: @post %>
       </p>
       <p> <span style="color:blue">Release Date: </span> <%= @post.release_date%></p>
        <h2>Details</h2>
       <p><span style="color:blue">All Cast: </span><%= @post.director_name %></p>
       <p><span style="color:blue">Director: </span><%= @post.director_name %></p>
       <p><span style="color:blue">Producer: </span><%= @post.producer_name %></p>
       <h3><span style="color:Red">Story Line</span></h3>
       <p><%= @post.description %></p>
      <div>
      </div>
      <% if current_user.id == @post.user_id %>
        <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-primary" %> |
      <% end %>
      <%= link_to 'Report', new_post_post_report_path(@post), class: "btn btn-danger" %>
    </div>
  </div>
  <h1>Related Images </h1>
    <% if @post.images.attached? %>
      <% @post.images.each do |image| %>
        <%= image_tag(url_for(image), class: "index-img") %>
      <% end %>
    <% end%>

<h1>Comment</h1>

<div class="container">
  <%= render 'comments/form', post: @post %>
  <% @comments.each do |comment| %>
    <%= render 'comments/comment', post: @post, comment: comment %>
  <% end %>
</div>


