<div class="container my-5">
  <div class="card">
    <div class="card-body">
      <% if @post.trailer.attached? %>
        <%= video_tag(url_for(@post.trailer), style: 'width: 80%', controls: true) %>
      <% end %>
       <h1><%= @post.name %></h1>
       <p>Rating <%= @post.score%></p>
       <p>Release Date <%= @post.release_date%></p>
       <h3>Story Line</h3>
       <p><%= @post.description %></p>
      <div>
      </div>
      <%= link_to 'Edit', edit_post_path(@post) %> |
      <%= link_to 'Back', posts_path %> | 
      <%= link_to 'Report', new_post_post_report_path(@post) %>
    </div>
  </div>
  <h1>Related Images </h1>
    <% if @post.poster.attached? %>
      <%= image_tag(url_for(@post.poster), class: "index-img") %>
    <% end%>

<h1>Comment</h1>

<div class="container">
  <%= render 'comments/form', post: @post %>
  <% @comments.each do |comment| %>
    <%= render 'comments/comment', post: @post, comment: comment %>
  <% end %>
</div>


